*.class
*.DS_Store
.metadata*
target/**/*
bin/**/*
.classpath
.project
.settings/
target/
*.log
*.log.*
especifico/
tmp/
*.~*
/fubica-core/*.project
/fubica-core/*.classpath
/fubica-core/.settings
/fubica-ws/*.project
/fubica-ws/*.classpath
/fubica-ws/.settings
